.CockpitControls {
	display: flex;
	flex-flow: column;
	align-items: center;
	margin: 40px auto;
}
.totalPrice {
	border-top: 1px solid #bdc3c7;
	border-bottom: 1px solid #bdc3c7;
	padding: 10px 0 ;
	width: 100%;
	margin-top: 10px;
	p {
		float: left;
		margin-bottom: 0;
	}
	.titlePrice {
		color: #34ace0;
		font-weight: 500;
		margin-right: 10px;
		position: relative;
		top: 10px;
	}
	.responPrice {
		font-size: 20px;
		background-color: #f7f1e3;
		padding: 6px;
		border-radius: 4px
	}
}