.ContentBurger {
	width: 400px;
	position: relative;
	text-align: center;
	margin: 0 auto;
}
.Warning {
	background: linear-gradient(to top, #ff416c, #ff4b2b);
	padding: 10px;
	color: #fff;
	margin: 10px 0;
	border-radius: 10px;
}