.Logo {
	height: 40px;
	display: flex;
	display: flex;
  align-items: left;
  justify-content: left;

	img {
		height: 100%;
		margin-right: 10px;
	}
	h4 {
		margin-bottom: 0;
		line-height: 1.8;
		letter-spacing: -1px;
	}
}