.SideDrawer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  box-sizing: border-box;
  height: 100vh;
  padding: 20px;
  background-color: #fff;
  transition: all .25s ease;
  @media (min-width: 576px) and (max-width: 767.98px) {
    display: block;
  }
  @media (min-width: 768px) {
    display: none;
  }
}

.open {
  transform: translatex(0);
}

.close {
  transform: translatex(0);
}