.OrderSummary {
  ul {
    li {
      padding: 6px;
      border-bottom: 1px solid #eee;
      &:nth-of-type(even) {
        background-color: #f4f4f4;
      }
      .Title {
        display: inline-block;
        width: 140px;
        margin-right: 10px;
        text-transform: uppercase !important;
      }
      .Number {
        padding: 4px 6px;
        background-color: #df4b00;
        color: #fff;
        border-radius: 4px;
      }
    }
  }
  button {
  	margin-right: 10px;
  }
}