.NavItem {
  display: flex;
  height: 44px;
  margin: 0 10px;
  width: inherit;
  @media (min-width: 320px) and (max-width: 767.98px) {
    margin: 0 0 20px;
    width: 100% !important;
    text-align: center;
  }
  a {
    margin-bottom: 0;
    padding: 6px 0;
    font-size: 0.875em !important;
    font-weight: 500;
    color: #666;
    text-decoration: none;
    text-transform: uppercase;
    box-sizing: border-box;

    &:hover,
    &:active,
    &.active {
      margin-bottom: 0;
      padding: 6px 0;
      color: #6b3452;
      text-decoration: none;
      border-bottom: 2px solid #6b3452;
    }

    @media (min-width: 320px) and (max-width: 767.98px) {
      width: 100%;
      margin: 0 10px;
    }

  }
}