.NavItem {
  display: flex;
  height: 44px;
  margin: 0 10px;
  // align-items: center;
  // align-content: space-between;
  // flex-wrap: wrap;
  // justify-content: space-between;
  a {
    margin-bottom: 0;
    padding: 6px 0;
    font-size: 0.875em !important;
    font-weight: 500;
    color: #666;
    text-decoration: none;
    text-transform: uppercase;
    box-sizing: border-box;
    &:hover,
    &:active,
    &.active {
      margin-bottom: 0;
      padding: 6px 0;
      color: #6b3452;
      text-decoration: none;
      border-bottom: 2px solid #6b3452;
    }
  }
}